<section class="site-container">
    <div class="max-w-[758px] mx-auto text-center">
        @if (initiativeCTATitle || initiativeCTADescription) {
        <h3 class="text-[24px] md:text-[32px] xl:text-[40px] font-medium text-primary mb-[16px]">
            {{ initiativeCTATitle ? (initiativeCTATitle | localizedText) : 'We\'d love to hear from you' }}
        </h3>
        @if (initiativeCTADescription) {
        <p class="text-[16px] md:text-[20px] font-normal text-text-muted leading-[1.5] mb-[24px]">
            {{ initiativeCTADescription | localizedText }}
        </p>
        }
        }
        <p class="text-[16px] md:text-[20px] font-medium md:font-normal text-ai-gray-850 leading-[1.5] m-0">
            {{ (initiativeText | localizedText) || 'We welcome unsolicited applications at' }} <br>
            <a [href]="'mailto:' + (initiativeEmail || 'careers@aintegrator.ch')"
                class="text-[16px] md:text-[20px] font-medium text-ai-gray-900 underline">
                {{ initiativeEmail || 'careers@aintegrator.ch' }}
            </a>
        </p>
    </div>
</section>