<div class="about-us-page flex flex-col">

    @if (aboutData(); as data) {
      @if (data.heroTitle) {
        <app-about-hero [title]="data.heroTitle | localizedText" [currentLocale]="currentLocale()"></app-about-hero>
      }
    }

  @if (founders().length > 0) {
    <app-founders-grid-section [founders]="founders()"></app-founders-grid-section>
  }
    <section class="site-container w-full max-w-[1144px] mx-auto mb-16 lg:mb-32 flex flex-col gap-[48px] md:gap-[96px]">
        <section class="flex flex-col gap-[24px] items-start w-full lg:grid lg:grid-cols-[minmax(0,calc(50%-48px))_minmax(0,50%)] lg:gap-x-24 lg:gap-y-[24px]">
            <h3 class="text-black font-medium text-[24px] md:text-[32px] font-sans leading-normal m-0 lg:col-start-1">
              @if (aboutData(); as data) {
                {{ data.missionTitle | localizedText }}
              }
            </h3>
            <p class="text-text-secondary font-normal text-[16px] md:text-xl font-sans leading-normal m-0 lg:col-start-2">
              @if (aboutData(); as data) {
                <p>{{ data.missionText | localizedText }}</p>
              }
            </p>
        </section>

        @if (aboutData(); as data) {
          @if (data.valuesText) {
            <section class="flex flex-col gap-[24px] items-start w-full lg:grid lg:grid-cols-[minmax(0,calc(50%-48px))_minmax(0,50%)] lg:gap-x-24 lg:gap-y-[24px]">
                <h3 class="text-black font-medium text-[24px] md:text-[32px] font-sans leading-normal m-0 lg:col-start-1">
                    {{ data.valuesTitle | localizedText }}
                </h3>
                <p class="text-text-secondary font-normal text-[16px] md:text-xl font-sans leading-normal m-0 lg:col-start-2">
                    {{ data.valuesText | localizedText }}
                </p>
            </section>
          }
        }
    </section>
</div>
