<section class="w-full section-spacing">
    <div class="site-container">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[32px]">
            <div
                class="bg-ai-gray-100 lg:bg-bg-subtle rounded-[12px] p-[32px] lg:p-[40px] xl:p-[60px] min-h-[355px] xl:min-h-[487px] xl:pt-[60px] xl:pb-[60px] xl:pl-[60px] xl:pr-[100px] flex flex-col justify-between items-start box-border">
                <div>
                    <img src="assets/icons/Group 2769.png" alt=""
                        class="w-[56px] h-[56px] xl:w-[60px] xl:h-[60px] object-contain" />
                </div>
                <div class="flex flex-col items-start text-left gap-[16px]">
                    <h3
                        class="text-black font-['Poppins'] font-medium text-[24px] lg:text-[28px] xl:text-[32px] mb-0 leading-normal">
                        {{ cards[0]?.title | localizedText }}
                    </h3>
                    <p
                        class="text-ai-gray-850 font-['Poppins'] font-normal text-base md:text-xl leading-[26px] md:leading-normal xl:w-[396px]">
                        {{ cards[0]?.description | localizedText }}
                    </p>
                </div>
            </div>

            <div
                class="bg-ai-gray-100 lg:bg-bg-subtle rounded-[12px] p-[32px] lg:p-[40px] xl:p-[60px] min-h-[355px] xl:min-h-[487px] xl:pt-[60px] xl:pb-[60px] xl:pl-[60px] xl:pr-[100px] flex flex-col justify-between items-start box-border">
                <div>
                    <img src="assets/icons/shield.png" alt=""
                        class="w-[46px] h-[56px] xl:w-[49px] xl:h-[60px] object-contain" />
                </div>
                <div class="flex flex-col items-start text-left gap-[16px]">
                    <h3
                        class="text-black font-['Poppins'] font-medium text-[24px] lg:text-[28px] xl:text-[32px] mb-0 leading-normal">
                        {{ cards[1]?.title | localizedText }}
                    </h3>
                    <p
                        class="text-ai-gray-850 font-['Poppins'] font-normal text-base md:text-xl leading-[26px] md:leading-normal xl:w-[396px]">
                        {{ cards[1]?.description | localizedText }}
                    </p>
                </div>
            </div>

            <div
                class="col-span-1 lg:col-span-2 bg-ai-gray-100 lg:bg-bg-subtle rounded-[12px] p-[32px] lg:p-[40px] xl:p-[80px] min-h-[397px] xl:min-h-[284px] xl:p-[80px] flex flex-col xl:flex-row justify-between items-start xl:items-center gap-[40px] xl:gap-0 box-border">
                <div class="flex flex-col items-start text-left gap-[16px]">
                    <h3
                        class="text-black font-['Poppins'] font-medium text-[24px] lg:text-[28px] xl:text-[32px] mb-0 leading-normal">
                        Privat
                    </h3>
                    <p
                        class="text-ai-gray-850 font-['Poppins'] font-normal text-base md:text-xl leading-[26px] md:leading-normal xl:w-[637px]">
                        {{ footerCardDescription | localizedText }}
                    </p>
                </div>
                <div class="flex items-center gap-[21px] xl:gap-[24px] w-full max-w-[133px] xl:max-w-none">
                    <div class="flex flex-col items-center gap-[9.164px] w-[56px] xl:w-auto">
                        <img src="assets/icons/gdpr.png" alt="GDPR"
                            class="w-[56px] h-[56px] xl:w-[60px] xl:h-[60px] object-contain" />
                        <span
                            class="text-black xl:text-ai-gray-850 font-['Poppins'] text-[10.691px] xl:text-[12px] font-medium leading-normal">{{
                            badgeLabels[0]?.text | localizedText }}</span>
                    </div>
                    <div class="flex flex-col items-center gap-[9.164px] w-[56px] xl:w-auto">
                        <img src="assets/icons/dsg.png" alt="DSG"
                            class="w-[56px] h-[56px] xl:w-[60px] xl:h-[60px] object-contain" />
                        <span
                            class="text-black xl:text-ai-gray-850 font-['Poppins'] text-[10.691px] xl:text-[12px] font-medium leading-normal">{{
                            badgeLabels[1]?.text | localizedText }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>