<section class="w-full section-spacing">
    <div class="site-container">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[32px]">
            <div
                class="bg-ai-gray-100 lg:bg-bg-subtle rounded-[12px] p-[32px] lg:p-[40px] xl:p-[60px] min-h-[355px] xl:min-h-[487px] xl:pt-[60px] xl:pb-[60px] xl:pl-[60px] xl:pr-[100px] flex flex-col justify-between items-start box-border">
                <div>
                    <img src="assets/icons/Group 2769.png" alt=""
                        class="w-[56px] h-[56px] xl:w-[60px] xl:h-[60px] object-contain" />
                </div>
                <div class="flex flex-col items-start text-left gap-[16px]">
                    <h3
                        class="text-black font-['Poppins'] font-medium text-[24px] lg:text-[28px] xl:text-[32px] mb-0 leading-normal">
                        Hosted in Switzerland
                    </h3>
                    <p
                        class="text-ai-gray-850 font-['Poppins'] font-normal text-base md:text-xl leading-[26px] md:leading-normal xl:w-[396px]">
                        Ihre Daten bleiben unter Ihrer Kontrolle. Datensouveränität und
                        Datensicherheit haben für uns höchste Priorität.
                    </p>
                </div>
            </div>

            <div
                class="bg-ai-gray-100 rounded-[12px] p-[32px] lg:p-[40px] xl:p-[60px] min-h-[355px] xl:min-h-[487px] flex flex-col justify-between items-start box-border">
                <div>
                    <img src="assets/icons/shield.png" alt=""
                        class="w-[46px] h-[56px] xl:w-[49px] xl:h-[60px] object-contain" />
                </div>
                <div class="flex flex-col items-start text-left gap-[16px]">
                    <h3
                        class="text-black font-['Poppins'] font-medium text-[24px] lg:text-[28px] xl:text-[32px] mb-0 leading-normal">
                        Einfach Sicher
                    </h3>
                    <p
                        class="text-ai-gray-850 font-['Poppins'] font-normal text-base md:text-xl leading-[26px] md:leading-normal xl:w-[396px]">
                        Vertraut von Teams in Regierung, Finanzen, Recht und Gesundheitswesen – LiaSuite bietet
                        Schweizer Sicherheit.
                    </p>
                </div>
            </div>

            <div
                class="bg-ai-gray-100 col-span-1 lg:col-span-2 rounded-[12px] p-[32px] lg:p-[40px] xl:p-[60px] flex flex-col md:flex-row justify-between items-start xl:items-center gap-[40px] xl:gap-0 box-border">
                <div class="flex flex-col items-start text-left gap-[16px]">
                    <h3
                        class="text-black font-['Poppins'] font-medium text-[24px] lg:text-[28px] xl:text-[32px] mb-0 leading-normal">
                        Privat
                    </h3>
                    <p
                        class="text-ai-gray-850 font-['Poppins'] font-normal text-base md:text-xl leading-[26px] md:leading-normal xl:w-[637px]">
                        LiaSuite ist DSG- und DSGVO-konform und wird in der Schweiz betrieben.
                    </p>
                </div>
                <div class="flex items-center md:justify-end gap-[24px] w-full">
                    <div class="flex flex-col items-center justify-center gap-4 border border-ai-gray-650 rounded-xl aspect-square w-1/2 md:w-32 bg-ai-gray-100">
                        <img src="assets/images/gdpr_icon.svg" alt="DSGVO"
                            class="w-[32px] h-[32px] object-contain" />
                        <span
                            class="text-black xl:text-ai-gray-850 font-['Poppins'] text-sm xl:text-base font-medium leading-normal">DSGVO</span>
                    </div>
                    <div class="flex flex-col items-center justify-center gap-4 border border-ai-gray-650 rounded-xl aspect-square w-1/2 md:w-32 bg-ai-gray-100">
                        <img src="assets/images/dsg_icon.svg" alt="DSG"
                            class="w-[32px] h-[32px] object-contain" />
                        <span
                            class="text-black xl:text-ai-gray-850 font-['Poppins'] text-sm xl:text-base font-medium leading-normal">DSG</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
