<section class="w-full section-spacing bg-white font-['Poppins',_sans-serif]">
    <div class="mx-auto flex flex-col items-center gap-[24px] md:gap-0 site-container">
        <div class="max-w-[781px] w-full flex flex-col items-center gap-[24px] md:mb-[80px]">
            <h2
                class="text-ai-gray-1000 text-center font-['Poppins',_sans-serif] text-[32px] min-[768px]:text-[40px] min-[1024px]:text-[48px] xl:text-[56px] font-medium leading-tight xl:whitespace-nowrap">
                Lia arbeitet, wo Sie arbeiten
            </h2>
            <p
                class="text-ai-gray-850 text-center font-['Poppins',_sans-serif] text-base md:text-xl font-normal leading-[148%]">
                Synchronisiert sich mit Ihrem Microsoft oder Google Kalendar um automatisch alle Ihre Meetings zu
                transkribieren.
            </p>
        </div>

        <div
            class="w-full h-auto lg:h-[595px] rounded-[12px] bg-ai-gray-100 flex flex-col px-6 lg:px-[60px] xl:px-[80px] pt-[32px] pb-[35px] lg:pt-[60px] mt-[16px] lg:mt-0 md:mb-[60px]">
            <div class="flex items-center justify-between w-full">
                <img src="assets/icons/left.png" alt="Previous"
                    class="w-[36px] h-[36px] max-[767px]:!w-[24px] max-[767px]:!h-[24px] max-[767px]:aspect-square">
                <h3 class="font-['Poppins',_sans-serif] text-[24px] md:text-[40px] font-medium leading-none">
                    <span class="text-ai-gray-1000">{{ currentDayName }}, </span>
                    <span class="text-ai-gray-850">{{ currentDayNumber }} {{ currentMonth }}</span>
                </h3>
                <img src="assets/icons/right.png" alt="Next"
                    class="w-[36px] h-[36px] max-[767px]:!w-[24px] max-[767px]:!h-[24px] max-[767px]:aspect-square">
            </div>

            <div class="flex flex-row mt-[36px] lg:mt-0">
                <div
                    class="flex flex-col lg:pt-[70px] min-w-[130px] max-[767px]:!min-w-[80px] max-[767px]:!mt-[8px] min-[500px]:max-[767px]:!min-w-[160px] min-[768px]:max-[1023px]:!min-w-[200px] min-[1024px]:max-[1279px]:!min-w-[260px]">
                    <div class="flex flex-col">
                        <span
                            class="text-ai-gray-850 font-['Poppins',_sans-serif] text-[24px] min-[1024px]:text-[32px] max-[767px]:!text-[16px] max-[767px]:!leading-[100%] min-[768px]:max-[1023px]:!text-[28px] font-medium">08:00</span>
                        <div
                            class="flex flex-col gap-[32px] lg:gap-[56px] mt-[24px] lg:mt-[36px] pl-1 max-[767px]:!pl-0">
                            <div
                                class="h-[1px] bg-ai-gray-650 w-[79px] max-[767px]:!w-[51px] min-[500px]:max-[767px]:!w-[60px] min-[768px]:max-[1023px]:!w-[90px] min-[1024px]:max-[1279px]:!w-[130px]">
                            </div>
                            <div
                                class="h-[1px] bg-[#ED2915] w-[128px] max-[767px]:!w-[31px] min-[500px]:max-[767px]:!w-[100px] min-[768px]:max-[1023px]:!w-[140px] min-[1024px]:max-[1279px]:!w-[180px]">
                            </div>
                            <div
                                class="h-[1px] bg-ai-gray-650 w-[79px] max-[767px]:!w-[49px] min-[500px]:max-[767px]:!w-[60px] min-[768px]:max-[1023px]:!w-[90px] min-[1024px]:max-[1279px]:!w-[130px]">
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col mt-[32px] lg:mt-[39px]">
                        <span
                            class="text-ai-gray-850 font-['Poppins',_sans-serif] text-[24px] min-[1024px]:text-[32px] max-[767px]:!text-[16px] max-[767px]:!leading-[100%] min-[768px]:max-[1023px]:!text-[28px] font-medium">10:00</span>
                        <div
                            class="flex flex-col gap-[32px] lg:gap-[56px] mt-[32px] lg:mt-[36px] pl-1 max-[767px]:!pl-0">
                            <div
                                class="h-[1px] bg-ai-gray-650 w-[129px] max-[767px]:!w-[51px] min-[500px]:max-[767px]:!w-[100px] min-[768px]:max-[1023px]:!w-[140px] min-[1024px]:max-[1279px]:!w-[180px]">
                            </div>
                            <div
                                class="h-[1px] bg-ai-gray-650 w-[129px] max-[767px]:!w-[22px] min-[500px]:max-[767px]:!w-[100px] min-[768px]:max-[1023px]:!w-[140px] min-[1024px]:max-[1279px]:!w-[180px]">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-1 flex items-start justify-end lg:mt-[55px]">
                    <div
                        class="w-full max-w-[707px] min-[768px]:max-[1023px]:!max-w-[580px] min-[1024px]:max-[1279px]:!max-w-[640px] min-[500px]:max-[767px]:!max-w-[480px] min-[500px]:max-[767px]:ml-auto h-auto p-[24px] min-[1024px]:h-[343px] min-[1024px]:p-[48px] max-[767px]:!p-[19px_20px_18px_20px] max-[767px]:!gap-0 rounded-[12px] bg-white flex flex-col">
                        <div class="flex items-center justify-between">
                            <h4
                                class="text-ai-gray-1000 font-['Poppins',_sans-serif] text-[20px] min-[1024px]:text-[24px] max-[767px]:!text-[14px] max-[767px]:!leading-normal font-medium">
                                Projektupdate Meeting</h4>
                            <lucide-icon [img]="ellipsisIcon" [size]="36"
                                class="text-ai-gray-750 max-[767px]:!w-[16px] max-[767px]:!h-[16px] max-[767px]:!ml-[17px]"></lucide-icon>
                        </div>

                        <div
                            class="flex items-center gap-[7px] min-[1024px]:inline-flex min-[1024px]:gap-[4px] mt-[8px] lg:mt-[12px]">
                            <span
                                class="text-ai-gray-850 font-['Poppins',_sans-serif] text-[12px] min-[1024px]:text-[16px] font-normal leading-[100%]">09:30
                                - 11:30 Uhr</span>
                        </div>

                        <div class="flex flex-col gap-[12px] lg:gap-[24px] mt-[12px] lg:mt-[23px]">
                            <div class="flex items-center gap-[8px] lg:gap-[16px]">
                                <div
                                    class="w-[36px] h-[36px] max-[767px]:!w-[24px] max-[767px]:!h-[24px] rounded-full bg-ai-gray-100 flex items-center justify-center font-medium max-[767px]:text-[10px]">
                                    M</div>
                                <span
                                    class="text-ai-gray-1000 font-['Poppins',_sans-serif] text-[16px] max-[767px]:!text-[12px] max-[767px]:!leading-normal font-medium">Laura</span>
                            </div>
                            <div class="flex items-center gap-[8px] lg:gap-[16px]">
                                <div
                                    class="w-[36px] h-[36px] max-[767px]:!w-[24px] max-[767px]:!h-[24px] rounded-full bg-ai-gray-100 flex items-center justify-center font-medium max-[767px]:text-[10px]">
                                    L</div>
                                <span
                                    class="text-ai-gray-1000 font-['Poppins',_sans-serif] text-[16px] max-[767px]:!text-[12px] max-[767px]:!leading-normal font-medium">Stephane</span>
                            </div>
                            <div class="flex items-center gap-[8px] lg:gap-[16px]">
                                <img src="assets/images/Group 2969.png" alt="Lia"
                                    class="w-[36px] h-[36px] max-[767px]:!w-[24px] max-[767px]:!h-[24px] rounded-full bg-ai-gray-100 flex items-center justify-center font-medium">
                                <span
                                    class="text-ai-gray-1000 font-['Poppins',_sans-serif] text-[16px] max-[767px]:!text-[12px] max-[767px]:!leading-normal font-medium">Lia</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="w-full flex flex-col md:flex-row items-center justify-between gap-[24px] md:gap-[40px] lg:gap-[52px]">
            <div
                class="flex-1 w-full md:w-auto h-auto lg:h-[224px] p-[40px] lg:p-[48px] min-[768px]:max-[1279px]:!p-[32px] min-[768px]:max-[1279px]:!h-auto min-[768px]:max-[1279px]:!gap-[24px] rounded-[12px] bg-ai-gray-100 flex flex-col items-start gap-[32px] max-[767px]:!flex max-[767px]:!p-[24px] max-[767px]:!flex-col max-[767px]:!items-start max-[767px]:!gap-[32px] max-[767px]:!h-auto">
                <img src="assets/images/microsoft_365_logo.png" alt="Microsoft"
                    class="w-[32px] h-[35px] min-[768px]:max-[1279px]:!w-[28px] min-[768px]:max-[1279px]:!h-[30px] max-[767px]:!w-[32px] max-[767px]:!h-[35px] max-[767px]:!aspect-[32/35] object-contain">
                <h5
                    class="text-ai-gray-1000 font-['Poppins',_sans-serif] text-[22px] lg:text-[26px] min-[1280px]:!text-[22px] min-[768px]:max-[1279px]:!text-[18px] max-[767px]:!text-[16px] max-[767px]:!font-medium max-[767px]:!leading-[26px] font-medium leading-[125%]">
                    Microsoft 365
                </h5>
            </div>
            <div
                class="flex-1 w-full md:w-auto h-auto lg:h-[224px] p-[40px] lg:p-[48px] min-[768px]:max-[1279px]:!p-[32px] min-[768px]:max-[1279px]:!h-auto min-[768px]:max-[1279px]:!gap-[24px] rounded-[12px] bg-ai-gray-100 flex flex-col items-start gap-[32px] max-[767px]:!flex max-[767px]:!p-[24px] max-[767px]:!flex-col max-[767px]:!items-start max-[767px]:!gap-[32px] max-[767px]:!h-auto">
                <img src="assets/images/google_logo.png" alt="Google"
                    class="w-[36px] h-[35px] min-[768px]:max-[1279px]:!w-[31px] min-[768px]:max-[1279px]:!h-[30px] max-[767px]:!w-[36px] max-[767px]:!h-[35px] max-[767px]:!aspect-[36/35] object-contain">
                <h5
                    class="text-ai-gray-1000 font-['Poppins',_sans-serif] text-[22px] lg:text-[26px] min-[1280px]:!text-[22px] min-[768px]:max-[1279px]:!text-[18px] max-[767px]:!text-[16px] max-[767px]:!font-medium max-[767px]:!leading-[26px] font-medium leading-[125%]">
                    Google Workspace
                </h5>
            </div>
            <div
                class="flex-1 w-full md:w-auto h-auto lg:h-[224px] p-[40px] lg:p-[48px] min-[768px]:max-[1279px]:!p-[32px] min-[768px]:max-[1279px]:!h-auto min-[768px]:max-[1279px]:!gap-[24px] rounded-[12px] bg-ai-gray-100 flex flex-col items-start gap-[16px] lg:gap-[32px] max-[767px]:!flex max-[767px]:!p-[24px] max-[767px]:!flex-col max-[767px]:!items-start max-[767px]:!gap-[32px] max-[767px]:!h-auto">
                <div class="flex items-center justify-between w-full">
                    <img src="assets/images/webex_logo.png" alt="Webex"
                        class="w-[40px] h-[35px] min-[768px]:max-[1279px]:!w-[35px] min-[768px]:max-[1279px]:!h-[30px] max-[767px]:!w-[40px] max-[767px]:!h-[35px] max-[767px]:!aspect-[40/35] object-contain">
                    <div class="flex py-2 px-4 justify-center items-center rounded-[27.059px] border-[1.353px] border-solid border-[#ED2915]">
                        <span
                            class="text-[#ED2915] font-['Poppins',_sans-serif] text-sm font-medium leading-[100%]">Beta</span>
                    </div>
                </div>
                <h5
                    class="text-ai-gray-1000 font-['Poppins',_sans-serif] text-[22px] lg:text-[26px] min-[1280px]:!text-[22px] min-[768px]:max-[1279px]:!text-[18px] max-[767px]:!text-[16px] max-[767px]:!font-medium max-[767px]:!leading-[26px] font-medium leading-[125%]">
                    Cisco Webex</h5>
            </div>
        </div>
    </div>
</section>