<div
    class="relative w-full max-w-[420px] lg:w-fit lg:max-w-none md:flex-none md:h-full xl:h-[454px] overflow-hidden bg-white rounded-[12px] p-[18px] sm:p-[20px] md:p-[22px] lg:p-[24px] xl:p-[36px] flex flex-col gap-[18px] md:gap-[20px] xl:gap-[23px]">
    <div
        class="flex flex-row flex-1 w-fit mx-auto items-center justify-center gap-[24px] pb-[50px] sm:pb-[52px] md:pb-[54px] xl:pb-[58px]">
        <div
            class="flex flex-col gap-[12px] xl:gap-[16px] min-w-0 w-[140px] sm:w-[150px] md:w-[170px] lg:w-[190px] xl:w-[280px] xl:flex-none">
            <div
                class="relative rounded-[12px] overflow-hidden bg-gray-200 w-full aspect-square xl:aspect-auto xl:w-[280px] xl:h-[279px]">
                <img [src]="monicaImage" alt="" class="w-full h-full object-cover object-center">
                <span class="font-['Poppins'] xl:font-sans text-[12px] md:text-[14px] font-medium leading-none absolute bottom-2 left-2 text-center z-10 bg-ai-gray-1000/60 text-white py-1.5 px-2 rounded-full">Laura</span>
            </div>
        </div>

        <div
            class="flex flex-col gap-[11px] md:gap-[12px] xl:gap-[16px] min-w-0 w-[100px] sm:w-[112px] md:w-[145px] lg:w-[165px] xl:w-[180px] xl:flex-none">
            <div class="flex flex-col gap-[12px] xl:gap-[16px]">
                <div
                    class="w-full aspect-square relative rounded-[12px] overflow-hidden bg-gray-200">
                    <img [src]="stephaneImage" alt="" class="w-full h-full object-cover object-center">
                    <span class="font-['Poppins'] xl:font-sans text-[12px] md:text-[14px] font-medium leading-none absolute bottom-2 left-2 text-center z-10 bg-ai-gray-1000/60 text-white py-1.5 px-2 rounded-full">Stephane</span>
                </div>
            </div>

            <div class="flex flex-col gap-[12px] xl:gap-[16px]">
                <div
                    class="w-full aspect-square relative rounded-[12px] border-2 border-ai-gray-200 bg-white flex flex-col items-center justify-center gap-[10px] p-[10px]">
                    <div class="w-[48px] h-[48px] rounded-full bg-red-50 flex items-center justify-center flex-shrink-0">
                        <img [src]="liaUnionLogo" alt="" class="w-[28px] h-[23px] object-contain">
                    </div>
                    <span class="font-['Poppins'] xl:font-sans text-[12px] md:text-[14px] font-medium leading-none absolute bottom-2 left-2 text-center z-10 bg-ai-gray-1000/60 text-white py-1.5 px-2 rounded-full">Lauras Recorder</span>
                </div>
            </div>
        </div>
    </div>

    <div
        class="absolute z-10 flex items-center gap-[12px] left-[18px] sm:left-[20px] md:left-[22px] lg:left-[24px] xl:left-[36px] bottom-[18px] sm:bottom-[20px] md:bottom-[22px] lg:bottom-[24px] xl:bottom-[36px]">
        <div
            class="flex items-center gap-[6px] h-[34px] px-[10px] min-w-[56px] xl:w-auto rounded-[10px] border border-ai-gray-650 bg-white justify-center xl:justify-start">
            <div class="w-[8px] h-[8px] bg-red-600 rounded-full flex-shrink-0"></div>
            <lucide-icon [img]="videoIcon" [size]="20" class="text-ai-gray-900 flex-shrink-0"></lucide-icon>
        </div>
        <button
            class="min-w-[56px] h-[34px] border-none rounded-[10px] bg-[#ED2915] p-0 cursor-default flex items-center justify-center">
            <lucide-icon [img]="phoneIcon" [size]="18" class="text-white rotate-[67.5deg]"></lucide-icon>
        </button>
    </div>
</div>
