<main class="flex flex-col">
    <app-hero title="Sicherer AI-Vorsprung für Schweizer Unternehmen"
        description="Maximale Produktivität bei 100% Datensouveränität. Chat und Meeting-Intelligence – Sofort einsatzbereit."
        buttonLabel="LiaSuite testen"
        buttonLink="https://aintegrator.notion.site/314a7ccd21c380549a39dec535c388a4"
        titleMaxWidthClass="md:max-w-[865px]"
        mobileMarginClass="mt-[125px] mb-[125px] xl:mt-[224px] xl:mb-0"
    ></app-hero>

    <app-info-section></app-info-section>

    <app-meeting-analysis></app-meeting-analysis>
    <app-integrations-section></app-integrations-section>
    <app-meeting-transcription></app-meeting-transcription>
    <app-meeting-summary></app-meeting-summary>
    <app-agentic-actions></app-agentic-actions>
    <app-lia-chat></app-lia-chat>
    <app-bolts-section></app-bolts-section>
    <app-security-grid></app-security-grid>
    <app-pricing-grid></app-pricing-grid>
</main>
