<div
    class="w-full rounded-[12px] bg-ai-gray-100 p-8 md:p-12 xl:p-16 flex flex-col justify-center gap-12 md:gap-16 xl:gap-24">
    <div class="flex items-center gap-[16px]">
        <div
            class="w-[58px] h-[58px] sm:w-[70px] sm:h-[70px] flex-shrink-0 relative rounded-full bg-[url('../../../../assets/icons/Ellipse\ 267.svg')] bg-contain bg-center bg-no-repeat">
            <img [src]="avatar" [alt]="name"
                class="w-[54.686px] h-[54.686px] sm:w-[64px] sm:h-[64px] rounded-full object-cover absolute top-[5.8px] sm:top-[7px] left-1/2 -translate-x-1/2">
        </div>
        <div>
            <h3 class="text-base md:text-xl xl:text-xl font-medium text-ai-gray-1000 m-0 font-['Poppins']">
                {{ name }}
            </h3>
            <p class="text-base md:text-xl xl:text-xl text-[rgba(77,77,77,0.7)] leading-[26px] m-0 font-['Poppins']">
                {{ role | localizedText }}
            </p>
        </div>
    </div>

    <a [href]="linkedin"
        class="flex items-center text-cta text-base md:text-xl xl:text-xl font-medium no-underline w-fit arrow-link">
        LinkedIn
        <img src="assets/icons/Frame.svg" alt="LinkedIn" class="w-6 h-6 arrow-link-icon">
    </a>
</div>