<section class="site-container section-spacing">
    <div class="max-w-[1144px] mx-auto">
        <div *ngIf="showMv" class="hidden xl:flex flex-col gap-12 xl:gap-20 text-left">
            <div class="flex flex-col gap-8">
                <h2 class="text-brand-red font-sans text-2xl md:text-3xl xl:text-3xl font-medium m-0">
                    Mission</h2>
                <div
                    class="font-['Poppins'] text-base md:text-xl text-ai-gray-850 leading-[1.62] m-0 flex flex-col gap-[32px]">
                    <ng-content select="[mission]"></ng-content>
                </div>
            </div>
            <div class="flex flex-col gap-8">
                <h2 class="text-brand-red font-sans text-3xl font-medium m-0">Vision</h2>
                <div
                    class="font-['Poppins'] text-base md:text-xl text-ai-gray-850 leading-[1.62] m-0 flex flex-col gap-[32px]">
                    <ng-content select="[vision]"></ng-content>
                </div>
            </div>
        </div>

        <div *ngIf="!isPrinciplesDesktop" class="flex flex-col gap-8 xl:hidden">
            @for (principle of principles; track principle.title) {
            <div class="flex flex-col gap-[24px]">
                <div class="block text-left">
                    <span class="text-brand-red font-sans text-2xl font-medium leading-normal whitespace-nowrap">{{
                        principle.index }}</span>
                    <span class="text-ai-gray-1000 font-['Poppins'] text-[24px] font-medium leading-normal"> {{
                        principle.title }}</span>
                </div>
                <div class="text-ai-gray-850 font-['Poppins'] text-[16px] font-normal leading-[26px] text-left">
                    <p *ngFor="let p of principle.description" class="mb-[16px] last:mb-0" [innerHTML]="p"></p>
                </div>
            </div>
            }
        </div>

        <div *ngIf="isPrinciplesDesktop" class="flex flex-col gap-[32px] xl:gap-[80px] items-start max-w-[1144px]">
            @if (values && values.length > 0) {
            @for (value of values; track $index) {
            <div class="flex flex-col gap-6 xl:gap-8 w-full">
                <div class="block text-left">
                    <span class="text-brand-red text-2xl xl:text-3xl font-medium">{{ getValueIndex($index) }}</span>
                    <span class="text-brand-black text-2xl xl:text-3xl font-medium"> {{ value.title | localizedText
                        }}</span>
                </div>
                <div class="text-muted-gray font-sans text-base leading-7 xl:text-2xl font-normal text-left">
                    {{ value.description | localizedText }}
                </div>
            </div>
            }
            } @else {
            @for (principle of principles; track principle.title) {
            <div class="flex flex-col gap-[24px] xl:gap-[32px] w-full">
                <div class="block text-left">
                    <span class="text-brand-red text-[24px] xl:text-[32px] font-medium">{{ principle.index }}</span>
                    <span class="text-ai-gray-1000 text-[24px] xl:text-[32px] font-medium"> {{ principle.title |
                        localizedText
                        }}</span>
                </div>
                <div
                    class="text-ai-gray-850 font-['Poppins'] text-base md:text-xl leading-[26px] md:leading-normal font-normal text-left">
                    <p *ngFor="let p of principle.description" class="mb-[16px] last:mb-0" [innerHTML]="p"></p>
                </div>
            </div>
            }
            }
        </div>
    </div>
</section>