<section
    class="w-full bg-[#D32F2F]/[0.03] min-h-[84px] flex flex-col justify-center items-center px-6 md:px-[80px] py-4 section-spacing">
    <a
        href="https://aintegrator.notion.site/314a7ccd21c380549a39dec535c388a4" target="_blank" rel="noopener noreferrer"
        class="font-sans text-base md:text-xl leading-normal tracking-normal max-w-[330px] md:max-w-none">
        <span class="font-normal text-[#ED2915]">Gratis-Probeabo – keine Kreditkarte erforderlich.</span>
    </a>
</section>