<section class="w-full flex justify-center relative">
    <div
        class="flex flex-col items-center text-center relative w-full max-w-[323px] mx-auto md:max-w-[600px] md:px-12 xl:w-[828px] xl:max-w-none xl:px-0 gap-0 md:gap-[32px] xl:gap-[24px]">

        <h2 class="text-primary font-sans font-medium text-[24px] md:text-[32px] max-w-[65ch]] mx-auto leading-normal text-center"
            [ngClass]="titleDescriptionGapClass">
            {{ getTitle() }}
        </h2>

        <p class="w-full mx-auto text-text-muted font-sans leading-normal text-base md:text-xl font-normal text-center xl:mb-[8px]"
            [ngClass]="[descriptionMaxWidthClass, descriptionButtonsGapClass]">
            {{ getDescription() }}
        </p>

        <div class="flex justify-center items-center relative" [ngClass]="[buttonContainerClass, buttonsGapClass]">
            <a *ngIf="secondaryBtnText && !secondaryBtnLink.startsWith('http')" [routerLink]="secondaryBtnLink"
                class="flex items-center text-ai-gray-1000 no-underline font-medium font-sans text-base md:text-xl leading-normal arrow-link">
                <span>{{ secondaryBtnText | localizedText }}</span>
                <img *ngIf="secondaryBtnIcon" [src]="secondaryBtnIcon" alt="" aria-hidden="true"
                    class="w-[24px] h-[24px] xl:w-[34px] xl:h-[34px] object-contain arrow-link-icon" />
            </a>
            <a *ngIf="secondaryBtnText && secondaryBtnLink.startsWith('http')" [href]="secondaryBtnLink" target="_blank"
                rel="noopener noreferrer"
                class="flex items-center text-ai-gray-1000 no-underline font-medium font-sans text-base md:text-xl leading-normal cursor-pointer arrow-link">
                <span>{{ secondaryBtnText }}</span>
                <img *ngIf="secondaryBtnIcon" [src]="secondaryBtnIcon" alt="" aria-hidden="true"
                    class="w-[24px] h-[24px] xl:w-[34px] xl:h-[34px] object-contain arrow-link-icon" />
            </a>

            <a *ngIf="getPrimaryBtnText()" [routerLink]="primaryBtnLink"
                class="flex items-center text-cta font-sans text-base md:text-xl font-medium leading-normal no-underline arrow-link">
                <span [class.hidden]="mobilePrimaryBtnText" [class.xl:block]="mobilePrimaryBtnText">{{
                    getPrimaryBtnText()
                    }}</span>
                <span *ngIf="mobilePrimaryBtnText" class="xl:hidden">{{ mobilePrimaryBtnText | localizedText }}</span>
                <img *ngIf="primaryBtnIcon" [src]="primaryBtnIcon" alt="" aria-hidden="true"
                    class="object-contain w-[28px] h-[28px] xl:w-auto xl:h-auto arrow-link-icon" />
            </a>
            <a *ngIf="getPrimaryBtnText() && primaryBtnLink.startsWith('http')" [href]="primaryBtnLink" target="_blank"
                rel="noopener noreferrer"
                class="flex items-center text-cta font-sans text-base md:text-xl font-medium leading-normal no-underline cursor-pointer arrow-link">
                <span [class.hidden]="mobilePrimaryBtnText" [class.xl:block]="mobilePrimaryBtnText">{{
                    getPrimaryBtnText()
                    }}</span>
                <span *ngIf="mobilePrimaryBtnText" class="xl:hidden">{{ mobilePrimaryBtnText }}</span>
                <img *ngIf="primaryBtnIcon" [src]="primaryBtnIcon" alt="" aria-hidden="true"
                    class="object-contain w-[28px] h-[28px] xl:w-auto xl:h-auto arrow-link-icon" />
            </a>
        </div>
    </div>
</section>