<section class="flex flex-col items-start md:items-center w-full max-w-[1144px] mx-auto gap-[24px]">
    <div class="flex flex-col items-start md:items-center gap-[12px]">
        <div
            class="flex items-center gap-[8px] bg-ai-gray-100 w-[167px] h-[36px] px-[12px] md:px-[16px] rounded-[12px]">
            <lucide-icon [img]="landmarkIcon" [size]="14" class="text-text-muted"></lucide-icon>
            <span class="text-text-muted font-medium text-[16px]">{{ caseStudyData?.client }}</span>
        </div>
        @if (caseStudyData?.title) {
        <h1
            class="text-black font-medium text-[32px] md:text-[48px] xl:text-[64px] leading-normal text-left md:text-center m-0">
            {{ caseStudyData?.title | localizedText }}
        </h1>
        } @else {
        <h1
            class="text-black font-medium text-[32px] md:text-[48px] xl:text-[64px] leading-normal text-left md:text-center m-0">
            Staatliche Agenten
        </h1>
        }
    </div>

    @if (caseStudyData?.excerpt) {
    <p class="max-w-[828px] text-left md:text-center font-normal text-[16px] md:text-[24px] leading-normal m-0">
        {{ caseStudyData?.excerpt | localizedText }}
    </p>
    } @else {
    <p class="max-w-[828px] text-left md:text-center font-normal text-[16px] md:text-[24px] leading-normal m-0">
        <span class="text-[rgba(77,77,77,0.7)]">70% der Arbeit automatisiert – ohne Umstellungszwang. Unsere
            AI-Agenten fügen sich harmonisch in </span>
        <span class="text-text-muted">die bestehenden Prozesse einer kantonalen Institution ein.</span>
    </p>
    }
</section>