<section class="section-spacing w-full site-container">
    <div class="flex flex-col items-center gap-[40px] lg:gap-[80px]">

        <div class="flex flex-col items-center gap-[16px] lg:gap-[24px] w-full max-w-[342px] lg:max-w-none">
            <div class="flex items-center justify-center w-full">
                <img src="assets/images/liachat_logo.svg" alt="LiaChat"
                    class="h-[48px] lg:h-[64px] w-auto object-contain">
            </div>
            <p
                class="text-ai-gray-850 text-center font-['Poppins',_sans-serif] text-base md:text-xl font-normal leading-[148%]">
                Sichere ChatGPT-Alternative
            </p>
        </div>

        <div
            class="w-full lg:max-w-[1144px] rounded-[12px] bg-ai-gray-100 p-[32px] lg:pt-[74px] lg:pb-[75px] lg:px-[80px] relative flex justify-center">

            <div
                class="w-full h-full rounded-[12px] bg-white flex flex-col justify-center items-center px-[24px] py-32 lg:py-48 lg:px-[32px]">

                <div
                    class="flex flex-col justify-end lg:justify-center items-center gap-[24px] lg:gap-[36px] w-full h-full">

                    <div class="flex flex-col items-center gap-[24px]">
                        <img src="assets/icons/Group 243.png" alt=""
                            class="w-[40px] h-[32px] lg:w-[55.539px] lg:h-[48px] object-contain">
                        <h3
                            class="text-center font-['Poppins',_sans-serif] text-base md:text-xl font-medium leading-normal">
                            <span>
                                <span class="text-ai-gray-950">Wie kann ich behilflich sein?</span>
                            </span>
                        </h3>    
                    </div>

                    <div
                        class="chat-input-shell relative w-full max-w-[514px] h-32 rounded-xl border border-ai-gray-300 bg-white shadow-[0_8px_24px_-4px_rgba(0,0,0,0.0)] p-3 shrink-0">
                        <span class="chat-input-text pb-8 text-ai-gray-850 font-['Poppins',_sans-serif] text-[12px] lg:text-[14px] font-normal leading-normal">{{ displayedText }}</span>

                        <div
                            class="absolute bottom-3 left-3 w-[24px] h-[24px] lg:w-[31px] lg:h-[31px] rounded-full border border-ai-gray-300 flex items-center justify-center">
                            <lucide-icon [img]="plusIcon" [size]="16" class="text-ai-gray-900"></lucide-icon>
                        </div>

                        <div
                            class="absolute bottom-3 right-3 w-[24px] h-[24px] lg:w-[31px] lg:h-[31px] rounded-full bg-ai-gray-900 flex items-center justify-center">
                            <lucide-icon [img]="sendIcon" [size]="16" class="text-white"></lucide-icon>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>